<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.something.mabdullahk.soop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".quizzesList.quizzesListActivity"
            android:theme="@style/AppThemeBar1"></activity>
        <activity android:name=".questions.questionsActivity" />
        <activity
            android:name=".practiceQuiz.practiceQuiz"
            android:theme="@style/AppThemeBar1" />
        <activity
            android:name=".resources.resourcesActivity"
            android:theme="@style/AppThemeBar1" />
        <activity
            android:name=".payments.paymentsActivity"
            android:theme="@style/AppThemeBar1" />
        <activity
            android:name=".events.eventsActivity"
            android:theme="@style/AppThemeBar1" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroPages.sliderActivity" />
        <activity
            android:name=".LoginPage"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".students.studentCards"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".quizzes.quizzes"
            android:theme="@style/AppThemeBar1" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".attendance.attendanceActivity"
            android:theme="@style/AppThemeBar1" />
        <activity
            android:name=".announcements.announcementActivity"
            android:theme="@style/AppThemeBar1" />
    </application>

</manifest>